@charset "UTF-8";
html {
  font-size: 75%; }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; } }
body {
  display: none; }
  body span,
  body p,
  body a,
  body td {
    text-shadow: none !important; }
  body ul {
    box-shadow: none !important;
    -webkit-box-shadow: none !important; }
  body input {
    outline: none;
    border: none; }
  body a {
    text-decoration: none;
    font-weight: normal !important; }
  body p {
    margin: 0; }

.overlay {
  background-color: #000;
  filter: apphs(opacity=50);
  opacity: 0.5;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.opacition {
  filter: apphs(opacity=50);
  opacity: 0.5; }

.loc-con {
  padding: 0 1.8rem;
  background: -webkit-linear-gradient(left, #6280b8, #9619ba);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #6280b8, #9619ba);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #6280b8, #9619ba);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #6280b8, #9619ba);
  /* 标准的语法 */
  height: 4rem; }
  .loc-con img {
    width: 1.3rem;
    height: 1.6rem;
    margin-top: 1.2rem;
    float: left;
    margin-right: 0.8rem; }
  .loc-con span {
    line-height: 4rem;
    font-family: "Microsoft YaHei";
    color: white;
    font-size: 1.4rem;
    float: left; }
  .loc-con .loc {
    width: 15rem;
    overflow: hidden;
    height: 4rem; }
  .loc-con .re-loc {
    float: right; }

.content {
  padding: 0; }

.header {
  height: 4.4rem;
  background-color: #ffffff !important;
  position: relative;
  border: 0; }
  .header h1 {
    font-size: 1.6rem !important;
    color: #333 !important;
    padding: 0 !important;
    line-height: 4.4rem !important; }
  .header a {
    width: 1.6rem;
    height: 1.5rem;
    top: 50%;
    left: 0;
    margin-top: -0.75rem !important;
    margin-left: 1rem !important; }
    .header a img {
      width: 100%; }

/*
* 首页 开始
*/
#main-page .content {
  background-image: url("/images/main-bg.png");
  background-size: cover; }
  #main-page .content .icons {
    padding: 0 16%;
    padding-top: 6.5rem;
    width: 68%; }
    #main-page .content .icons div {
      float: left;
      width: 30%;
      margin-right: 40%; }
      #main-page .content .icons div img {
        width: 100%; }
      #main-page .content .icons div p {
        margin-top: 1.7rem;
        margin-bottom: 2.8rem;
        text-align: center; }
        #main-page .content .icons div p a {
          font-size: 1.4rem;
          font-family: "Microsoft YaHei";
          color: white; }
    #main-page .content .icons .main-right {
      margin-right: 0; }

/*
* 编辑资料1
* 编辑资料2
*/
.edit-page .content {
  background-color: #f8f8f8;
  padding-top: 2.5rem; }
  .edit-page .content div {
    margin: 0 auto;
    width: 87.5%; }
    .edit-page .content div p {
      color: #3a3736;
      font-size: 1.4rem;
      font-family: "HiraginoSansGB W3"; }
    .edit-page .content div input {
      margin: 1.2rem 0;
      width: 95%;
      padding-left: 5%;
      height: 3.5rem;
      border: 1px solid #ccc;
      background-color: white;
      border-radius: .3rem; }

/*
* 注册 开始
*/
#register-page .content {
  background-image: url("/images/login-bg.png");
  background-size: cover; }
  #register-page .content form {
    padding-top: 26.3rem;
    padding-bottom: 2.5rem;
    width: 87%;
    margin: 0 auto; }
    #register-page .content form div input {
      width: 95%;
      padding-left: 5%;
      background-color: #22053e;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
      font-family: "HiraginoSansGB W3"; }
    #register-page .content form div .valida-r {
      width: 50%; }
    #register-page .content form div .get-valida-r {
      width: 40%;
      padding-left: 0;
      text-align: center;
      background-color: transparent;
      border: 2px solid #7a5c8b; }
    #register-page .content form div .login-r {
      background-color: #5c53ff;
      color: white;
      text-align: center; }

/*
* 登陆 开始
*/
#login-page .content {
  background-image: url("/images/login-bg.png");
  background-size: cover; }
  #login-page .content form {
    padding-top: 27.5rem;
    padding-bottom: 3rem;
    width: 87%;
    margin: 0 auto; }
    #login-page .content form div input {
      width: 95%;
      padding-left: 5%;
      background-color: #22053e;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
      font-family: "HiraginoSansGB W3"; }
    #login-page .content form div .login-pw {
      margin-bottom: 3rem; }
    #login-page .content form div .login {
      text-align: center;
      background-color: #5e4fff; }
    #login-page .content form div a {
      color: white;
      font-size: 1.5rem;
      font-family: "HiraginoSansGB W3"; }
    #login-page .content form div .free-register {
      float: left; }
    #login-page .content form div .forget-pw {
      float: right; }

/*
* 订单确认 开始
*/
#order-confirm-page .content {
  background-image: url("/images/order-confirm-bg.png");
  background-size: cover;
  font-family: "Microsoft YaHei";
  position: relative; }
  #order-confirm-page .content .consume-div {
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 1.4rem; }
    #order-confirm-page .content .consume-div p {
      margin-bottom: 2rem; }
      #order-confirm-page .content .consume-div p a img {
        width: 2.4rem;
        float: right; }
    #order-confirm-page .content .consume-div .head {
      color: #8826ff; }
    #order-confirm-page .content .consume-div table {
      margin-bottom: 2rem; }
      #order-confirm-page .content .consume-div table thead {
        display: none; }
      #order-confirm-page .content .consume-div table tr {
        height: 4rem; }
        #order-confirm-page .content .consume-div table tr td {
          width: 33.33%;
          float: left;
          padding: 0; }
        #order-confirm-page .content .consume-div table tr .money {
          text-align: right; }
  #order-confirm-page .content .amount {
    color: #ff3333;
    font-size: 1.4rem;
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 12.5rem; }
  #order-confirm-page .content .place-order {
    width: 100%;
    text-align: center;
    margin-bottom: 2.45rem; }
    #order-confirm-page .content .place-order a {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      background-color: #5e4fff;
      width: 86%;
      background-color: #7c00ff;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 1rem;
      color: white;
      font-size: 1.5rem;
      line-height: 4rem; }
    #order-confirm-page .content .place-order p {
      color: #999999;
      font-size: 1.3rem; }

/*
* 定位失败 开始
*/
#scope-page {
  padding-top: 13.5rem;
  text-align: center; }
  #scope-page img {
    width: 5.7rem;
    height: 5.4rem;
    margin-bottom: 1.4rem; }
  #scope-page p {
    color: #050b0a;
    font-size: 1.3rem;
    font-family: "Microsoft YaHei"; }

/*
* 个人页 开始
*/
#profile-page .content {
  position: relative; }
  #profile-page .content .content-head {
    background-color: #6946ff;
    height: 10rem;
    padding: 0 14%;
    padding-top: 3.5rem;
    padding-bottom: 0.7rem; }
    #profile-page .content .content-head img.user-edit {
      position: absolute;
      right: 1.9rem;
      top: 2.5rem;
      width: 2.4rem; }
    #profile-page .content .content-head .user-img-con {
      position: absolute;
      width: 100%; }
      #profile-page .content .content-head .user-img-con img {
        width: 6.5rem;
        border-radius: 3.25rem;
        float: left;
        margin-right: 1.3rem; }
      #profile-page .content .content-head .user-img-con a img {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.1rem; }
      #profile-page .content .content-head .user-img-con p {
        padding-left: 7.8rem;
        font-size: 1.4rem;
        font-family: "HiraginoSansGB W3";
        color: white;
        margin-bottom: 1.8rem; }
  #profile-page .content .consume-div {
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-family: "Microsoft YaHei"; }
    #profile-page .content .consume-div p {
      margin-bottom: 2rem; }
      #profile-page .content .consume-div p a img {
        width: 2.4rem;
        float: right; }
    #profile-page .content .consume-div .head {
      color: #8826ff; }
  #profile-page .content .profile-link {
    color: #8826ff;
    font-size: 1.4rem;
    font-family: "HiraginoSansGB W3";
    padding: 0 2rem;
    margin-bottom: 2rem; }
    #profile-page .content .profile-link a {
      float: right; }
  #profile-page .content .upload-con {
    display: none; }

/*
* 呼叫 开始
*/
#call-page {
  background-image: url("/images/call-bg.png");
  background-size: cover; }
  #call-page .icons {
    margin: 0 auto;
    margin-top: 8.5rem;
    width: 7.6rem;
    position: relative; }
    #call-page .icons img {
      position: absolute;
      left: 110%;
      width: 8.35rem;
      height: 4.25rem; }
    #call-page .icons div {
      background-image: url("/images/call-1.png");
      background-size: cover;
      width: 7.6rem;
      height: 7.6rem;
      text-align: center;
      margin-bottom: 2rem; }
      #call-page .icons div span {
        line-height: 7.6rem;
        color: white;
        font-size: 1.5rem;
        font-family: "Microsoft YaHei"; }
    #call-page .icons .already-call {
      background-image: url("/images/call-2.png");
      background-size: cover; }

/*
* 酒品详情 开始
*/
#wine-detail-page .content img {
  width: 100%;
  height: 30rem; }
#wine-detail-page .wine-info {
  padding: 0 1.3rem;
  padding-top: 1.8rem; }
  #wine-detail-page .wine-info .head {
    font-family: "HiraginoSansGB W3";
    font-size: 1.6rem;
    color: #3a3736; }
    #wine-detail-page .wine-info .head .discount {
      color: #ff3333;
      font-size: 1.2rem;
      float: right;
      margin-left: 2rem; }
    #wine-detail-page .wine-info .head .price {
      color: #ccc;
      font-size: 1.2rem;
      float: right;
      text-decoration: line-through; }
  #wine-detail-page .wine-info .a-m-con {
    margin-bottom: 1rem;
    margin-top: 1.4rem;
    height: 2.45rem; }
    #wine-detail-page .wine-info .a-m-con img {
      width: 2.45rem;
      height: 2.45rem;
      float: right; }
    #wine-detail-page .wine-info .a-m-con span {
      color: #333333;
      font-size: 1.2rem;
      float: right;
      line-height: 2.35rem;
      margin: 0 1rem; }
  #wine-detail-page .wine-info .wine-des {
    color: #666666;
    font-size: 1.2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-top: 1px solid #e5e5e4;
    line-height: 24px; }

/*
* 密码重置 开始
*/
#modify-pw-page .content {
  background-image: url("/images/pw-bg.png");
  background-size: cover; }
  #modify-pw-page .content form {
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
    width: 87%;
    margin: 0 auto; }
    #modify-pw-page .content form div input {
      width: 95%;
      padding-left: 5%;
      background-color: #22053e;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
      font-family: "HiraginoSansGB W3"; }
    #modify-pw-page .content form div .valida-r {
      width: 50%; }
    #modify-pw-page .content form div .get-valida-r {
      width: 40%;
      padding-left: 0;
      text-align: center;
      background-color: transparent;
      border: 2px solid #7a5c8b; }
    #modify-pw-page .content form div .login-r {
      background-color: #5c53ff;
      color: white;
      text-align: center; }

/*
* 在线点酒 开始
*/
#menu-page {
  position: relative; }
  #menu-page .content div.ui-tabs {
    padding: 0; }
    #menu-page .content div.ui-tabs .control-con {
      width: 25%;
      height: 100%;
      background-color: #f1f1f1; }
      #menu-page .content div.ui-tabs .control-con ul {
        margin: 0; }
      #menu-page .content div.ui-tabs .control-con .tablist-left li a {
        background-color: #f1f1f1;
        padding-top: 0;
        padding-bottom: 0;
        height: 5rem;
        line-height: 5rem;
        font-family: "Microsoft YaHei";
        color: #999;
        font-size: 1.4rem;
        font-weight: normal !important;
        padding: 0;
        text-align: center; }
      #menu-page .content div.ui-tabs .control-con .tablist-left li a:hover {
        background-color: white;
        color: #8826ff;
        border-right: none; }
      #menu-page .content div.ui-tabs .control-con .tablist-left li a.ui-btn-active {
        text-shadow: none; }
      #menu-page .content div.ui-tabs .control-con .tablist-left li .last-control {
        border-bottom-width: 0; }
    #menu-page .content div.ui-tabs .set-con {
      width: 75%;
      height: 100%;
      background-color: white; }
      #menu-page .content div.ui-tabs .set-con ul#recommend {
        margin: 0; }
        #menu-page .content div.ui-tabs .set-con ul#recommend li {
          height: 9.7rem;
          border: none;
          border-bottom: 1px solid #e5e5e5;
          padding: 0;
          margin: 1.2rem 1.2rem 0 1rem; }
          #menu-page .content div.ui-tabs .set-con ul#recommend li p {
            margin: 0; }
          #menu-page .content div.ui-tabs .set-con ul#recommend li .rec-name {
            font-family: "Microsoft YaHei";
            color: #3a3736;
            font-size: 1.3rem; }
          #menu-page .content div.ui-tabs .set-con ul#recommend li .rec-des {
            font-family: "Microsoft YaHei";
            color: #999;
            font-size: 0.9rem;
            margin-top: 10px; }
          #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con {
            margin-top: .5rem; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con span {
              float: left;
              line-height: 2.5rem; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con img {
              float: right;
              width: 2.4rem; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con .rec-price {
              font-family: 'Arial';
              color: #333;
              font-size: 1.2rem;
              margin-right: .5rem; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con .discount-price {
              font-family: 'Arial';
              color: #ccc;
              font-size: 1.2rem;
              text-decoration: line-through; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con .order-number {
              float: right;
              font-family: 'Arial';
              font-size: 1.2rem;
              margin: 0 1rem;
              display: none; }
            #menu-page .content div.ui-tabs .set-con ul#recommend li .price-con .minus-order {
              display: none; }
          #menu-page .content div.ui-tabs .set-con ul#recommend li div.img {
            background: url(/images/food.png) no-repeat;
            border-radius: 1.2rem;
            width: 6rem;
            height: 6rem;
            margin-right: 1rem;
            float: left; }
  #menu-page .content #shopping-table {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.9;
    z-index: 100;
    width: 90%;
    color: white;
    padding: 0 5%;
    padding-top: 1.7rem;
    font-size: 1.4rem;
    font-family: "Microsoft YaHei"; }
    #menu-page .content #shopping-table img {
      width: 2.7rem;
      height: 2.2rem;
      margin-bottom: 2rem; }
    #menu-page .content #shopping-table .shopping-num {
      font-family: 'HiraginoSansGB W6', Arial;
      color: white;
      font-size: .8rem;
      position: absolute;
      top: 1.7rem;
      left: 2.9rem;
      width: 1.4rem;
      height: 1.4rem;
      background-color: red;
      border-radius: .7rem;
      text-align: center; }
      #menu-page .content #shopping-table .shopping-num span {
        line-height: 1.4rem; }
    #menu-page .content #shopping-table table {
      margin-bottom: 2rem; }
      #menu-page .content #shopping-table table thead {
        display: none; }
      #menu-page .content #shopping-table table tr {
        height: 4rem; }
        #menu-page .content #shopping-table table tr td {
          width: 33.33%;
          float: left;
          padding: 0;
          color: #999; }
        #menu-page .content #shopping-table table tr .money {
          text-align: right; }
    #menu-page .content #shopping-table p {
      text-align: right;
      color: #fff;
      margin-bottom: 2rem; }
    #menu-page .content #shopping-table .decision {
      width: 78%;
      height: 3.5rem;
      background-color: #7c00ff;
      color: white;
      margin: 0 auto;
      border-radius: 1.7rem;
      text-align: center;
      margin-bottom: 1.5rem; }
      #menu-page .content #shopping-table .decision span {
        line-height: 3.5rem; }
  #menu-page .footer {
    height: 4.35rem;
    width: 100%;
    background-color: black;
    filter: apphs(opacity=90);
    opacity: 0.9;
    position: absolute;
    padding: 0 1rem;
    font-weight: normal;
    border: none;
    bottom: 0; }
    #menu-page .footer img {
      width: 2.7rem;
      height: 2.2rem;
      margin-top: 1.05rem;
      margin-right: 1rem;
      float: left; }
    #menu-page .footer .shopping-num {
      font-family: 'HiraginoSansGB W6', Arial;
      color: white;
      font-size: .8rem;
      position: absolute;
      top: 1rem;
      left: 2.9rem;
      width: 1.4rem;
      height: 1.4rem;
      background-color: red;
      border-radius: .7rem;
      text-align: center; }
      #menu-page .footer .shopping-num span {
        line-height: 1.4rem; }
    #menu-page .footer .shopping-word {
      line-height: 4.35rem;
      height: 100%;
      padding-right: 1.7rem; }
      #menu-page .footer .shopping-word .shopping-spend {
        color: white;
        font-family: 'HiraginoSansGB W3', Arial;
        font-size: 1.4rem; }
      #menu-page .footer .shopping-word .order-confirm {
        font-family: 'HiraginoSansGB W3', Arial;
        font-size: 1.4rem;
        color: #7808ff;
        float: right;
        text-shadow: none; }
  #menu-page #confirm-leave-popup {
    text-align: center;
    width: 89%;
    height: 14.5rem; }
    #menu-page #confirm-leave-popup #confirm-leave {
      height: 11.2rem;
      padding: 0 7.7%;
      padding-top: 3.3rem; }
      #menu-page #confirm-leave-popup #confirm-leave .ui-content {
        padding: 0; }
        #menu-page #confirm-leave-popup #confirm-leave .ui-content p {
          margin-bottom: 3.2rem;
          font-family: "Microsoft YaHei";
          font-size: 1.3rem;
          color: #333; }
        #menu-page #confirm-leave-popup #confirm-leave .ui-content div {
          width: 40%;
          height: 4rem;
          border-radius: 35%; }
          #menu-page #confirm-leave-popup #confirm-leave .ui-content div span {
            line-height: 4rem;
            color: white;
            font-size: 1.5rem;
            font-family: "Microsoft YaHei"; }
        #menu-page #confirm-leave-popup #confirm-leave .ui-content #order-leave {
          float: left;
          background-color: #7c00ff; }
        #menu-page #confirm-leave-popup #confirm-leave .ui-content #order-stay {
          float: right;
          background-color: #0099ff; }

/*
* 聊天 开始
*/
#chat-page .content {
  clear: both;
  background-color: #f8f8f8;
  padding: 1.4rem 1.2rem 1.4rem 1.2rem; }
  #chat-page .content .item {
    clear: both; }
    #chat-page .content .item .u-img {
      width: 12%;
      float: left;
      margin-bottom: 1.5rem; }
      #chat-page .content .item .u-img img {
        width: 100%;
        border-radius: 50%; }
    #chat-page .content .item div .uname {
      color: #8e8e93;
      font-size: 0.9rem;
      font-family: "Microsoft YaHei";
      padding-left: 19%;
      margin-bottom: .5rem; }
    #chat-page .content .item div .chat-content {
      margin: 0;
      padding-left: 3.75%;
      padding-right: 3.125%;
      background-color: #39aafa;
      border-radius: 1.4rem;
      margin-left: 3.6%;
      float: left;
      max-width: 76.56%;
      margin-bottom: 1.5rem; }
      #chat-page .content .item div .chat-content span {
        line-height: 2.7rem;
        color: white;
        font-size: 1.3rem;
        font-family: "HiraginoSansGB W3"; }
  #chat-page .content .item-r .u-img {
    float: right; }
  #chat-page .content .item-r div .uname {
    text-align: right;
    padding-left: 0;
    padding-right: 19%; }
  #chat-page .content .item-r div .chat-content {
    padding-left: 3.125%;
    padding-right: 3.75%;
    margin-right: 3.6%;
    float: right; }
  #chat-page .content .my-chat {
    border-top: 1px solid #d9d9d9;
    padding-top: 1.2rem;
    float: left;
    width: 100%;
    position: relative;
    margin-top: .7rem; }
    #chat-page .content .my-chat .current-time-con {
      position: absolute;
      top: -8px;
      width: 100%;
      text-align: center; }
      #chat-page .content .my-chat .current-time-con .current-time {
        color: #d9d9d9;
        font-size: 0.9rem;
        font-family: "Microsoft YaHei";
        background-color: #f8f8f8;
        padding: 0 5px; }

/*# sourceMappingURL=style.css.map */
