@charset "UTF-8";
$family_1: 'Microsoft YaHei';
$family_2: 'HiraginoSansGB W3';


html {
	font-size: 75%;
}
@media only screen and (min-width: 481px){
	html {
		font-size: 94%!important;
	}
}
@media only screen and (min-width: 561px){
	html {
		font-size: 109%!important;
	}

}
@media only screen and (min-width: 641px){
	html {
		font-size: 125%!important;
	}
}

body{
	display:none;
	// background-color:olive;
	span,
	p,
	a,
	td,{
		text-shadow:none !important;
	}
	ul{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		li{
			list-style: none !important;
		}
	}
	input{
		outline:none;
		border:none;
	}
	a{
		text-decoration:none;
		font-weight:normal !important;
	}
	p{
		margin:0;
	}
	// 去掉手持设备点击时出现的透明层
	a,button,input{
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    -webkit-tap-highlight-color: transparent; /* For some Androids */
	}
}

// 
.overlay{
    background-color: #000;
	filter: apphs(opacity=50);
	opacity:0.5;
	display:none;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100; 
}

// 透明度: 选择性别
.opacition{
	filter: apphs(opacity=50);
    opacity:0.5;
}

// 定位模块
.loc-con{
	padding: 0 1.8rem;
	background: -webkit-linear-gradient(left, #6280b8 , #9619ba); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #6280b8 , #9619ba); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #6280b8 , #9619ba); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #6280b8 , #9619ba); /* 标准的语法 */
	height:4rem;
	img{
		width:1.3rem;
		height:1.6rem;
		margin-top: 1.2rem;
		float:left;
		margin-right:0.8rem;
	}
	span{
		line-height: 4rem;
		font-family: $family_1;
		color:white;
		font-size: 1.4rem;
		float:left;
	}
	.loc{
		width:15rem;
		overflow: hidden;
    	height: 4rem;
	}
	.re-loc{
		float:right;
	}
}

// content 不需要padding
.content{
	padding:0
}

// 导航条
.header{
	height:4.4rem;
	background-color:#ffffff !important;	
	border:0;
	text-align: center;
	
	h1{
		font-size:1.6rem !important;
		color:#333 !important;
		padding:0 !important;
		line-height:4.4rem !important;
		display: inline-block;
		margin:0;
		margin-left: -3rem;
	}	
		
	.img-con{
		width: 3rem;
	    height: 100%;
	    position: relative;
	    float: left;
	    text-align: center;
		img{
		    width: 1.6rem;
		    height: 1.6rem;
		    position: absolute;
		    top: 1.4rem;
		    left: .7rem;
		}
	}		
}

/*
* 首页 开始
*/
#main-page{
	.content{
		background-image: url('/images/main-bg.png');
		background-size:cover;
		overflow:hidden;
		.icons{			
			padding: 0 16%;
			padding-top: 1rem;
			width: 68%;
			// margin-bottom: 2rem;
			div{
				float:left;
				width:30%;
				margin-right:40%;
				img{
					width:100%;
				}
				p{
					margin-top:1rem;
					margin-bottom: 2rem;
					text-align:center;
					a{
						font-size:1.4rem;
						font-family: $family_1;
						color:white;
					}
				}			
			}
			.main-right{
				margin-right:0;
			}
		}
	}
	
}

// 首页 结束

/*
* 编辑资料1
* 编辑资料2
*/
.edit-page{
	.content{		
		background-color: #f8f8f8;
		padding-top:2.5rem;
		div{
			margin:0 auto;			
			width: 87.5%;
			p{
				color:#3a3736;
				font-size:1.4rem;
				font-family: $family_2;
			}
			input{
				margin: 1.2rem 0;
				width: 95%;
				padding-left:5%;
				height:3.5rem;
				border: 1px solid #ccc;
				background-color:white;
				border-radius:.3rem;
			}
		}
	}
}

// 编辑资料结束

/*
* 注册 开始
*/
#register-page{
	.content{
		background-image: url('/images/login-bg.png');
		background-size:cover;		
		form{
			padding-top: 26.3rem;
			padding-bottom:2.5rem;
			width:87%;
			margin:0 auto;
			div{
				input{
					width:95%;
					padding-left:5%;
					background-color:#22053e;
					height:4rem;
					border-radius: 1.7rem;
					margin-bottom:2rem;
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.valida-r{
					width:50%;
				}
				.validation-con{
					width: 40%;
					padding-left:0;
				    float: right;
					.get-valida-r{
						border-radius: .5rem;
						width: 100%;
					}
				}				
				.login-r{
					background-color:#5c53ff;
					color:white;
					text-align:center;
				}
			}
		}
	}
}
// 注册 结束

/*
* 登陆 开始
*/
#login-page{
	.content{
		background-image: url('/images/login-bg.png');
		background-size:cover;		
		form{
			padding-top: 20.5rem;
			padding-bottom:3rem;
			width:87%;
			margin:0 auto;
			div{
				input{
					width:95%;
					padding-left:5%;
					background-color:#22053e;
					height:4rem;
					border-radius: 1.7rem;
					margin-bottom:2rem;
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.login-pw{
					margin-bottom:3rem;
				}
				.login{
					text-align:center;
					background-color:#5e4fff;
				}
				a{
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.free-register{
					float:left;
				}
				.forget-pw{
					float:right;
				}
			}
		}
	}
}
// 登陆 结束

/*
* 订单确认 开始
*/
#order-confirm-page{
	.content{
		background-image: url('/images/order-confirm-bg.png');
		background-size:cover;
		font-family:$family_1;
		position:relative;
		.consume-div{
			margin-top:2rem;
			padding:0 2rem;
			font-size:1.4rem;
			// font-family:$family_2;
			p{
				margin-bottom:2rem;
				a{
					img{
						width:2.4rem;
						float:right;
					}
				}
			}
			.head{
				color:#8826ff;
			}
			table{
				margin-bottom:2rem;
				width:100%;
				thead{
					display:none;
				}
				tr{
					height:4rem;
					td{
						width:33.33%;
						float: left;
	    				padding: 0;
					}
					.money{
						text-align:right;
					}
				}				
			}
		}
		.amount{
			color:#ff3333;
			font-size:1.4rem;			
			text-align:right;
			padding:0 2rem;
			margin-bottom:12.5rem;
		}
		.place-order{
			width: 100%;
			text-align:center;	
			margin-bottom:2.45rem;		
			input{
				padding:0;
				margin:0 auto;
				text-align:center;
				// background-color:#5e4fff;
				width:86%;
				background-color:#7c00ff;
				height:4rem;
				border-radius: 1.7rem;
				margin-bottom:1rem;
				color:white;
				font-size:1.5rem;
				line-height: 4rem;
			}
			p{
				color:#999999;
				font-size:1.3rem;

			}
		}
	}
	
}
// 订单确认 结束

/*
* 我的订单 开始
*/
#my-order-page{
	.content{
		background-image: url('/images/order-confirm-bg.png');
		background-size:cover;
		font-family:$family_1;
		ul{
			padding: 1rem;
			margin: 0!important;
			font-size: 1.2rem;

			li{
				margin-bottom:2rem;
				height:4rem;
				.order-info{
					float:left;
					p{
						height:2rem;
						line-height:2rem;
					}
					.order-time{
						color:#545454;
						font-size: 1rem;
					}
				}
				.order-spend{
					float:right;
					p{
						height:4rem;
						line-height:4rem;
						font-size:1.6rem;
						a{
							color:#000 !important;
						}
					}
				}
			}
		}

	}
	
}
// 我的订单 结束

/*
* 订单详情 开始
*/
#order-detail-page{
	.content{
		background-image: url('/images/order-confirm-bg.png');
		background-size:cover;
		font-family:$family_1;
		position:relative;
		.consume-div{
			margin-bottom:2rem;
			padding:0 2rem;
			font-size:1.4rem;
			// font-family:$family_2;
			p{
				margin-bottom:2rem;
				a{
					img{
						width:2.4rem;
						float:right;
					}
				}
			}
			.head{
				color:#8826ff;
			}
			table{
				margin-bottom:2rem;
				width:100%;
				thead{
					display:none;
				}
				tr{
					height:4rem;
					td{
						width:33.33%;
						float: left;
	    				padding: 0;
					}
					.money{
						text-align:right;
					}
				}				
			}
		}
		.amount{
			color:#ff3333;
			font-size:1.4rem;			
			text-align:right;
			padding:0 2rem;
			// margin-bottom:12.5rem;
		}		
	}	
}
// 订单详情 结束

/*
* 定位失败 开始
*/
#scope-page{	
	.content{
		padding-top:9.1rem;
		text-align:center;
		img{
			width:5.7rem;
			height:5.4rem;
			margin-bottom:1.4rem;
		}
		p{
			color:#050b0a;
			font-size:1.3rem;
			font-family:$family_1;
		}
	}
	
}
// 定位失败 结束

/*
* 个人页 开始
*/
#profile-page{
	.content{
		position:relative;
		.content-head{
			background-color:#6946ff;
			height: 10rem;
			padding:0 14%;
			padding-top:3.5rem;
			padding-bottom: 0.7rem;
			img.user-edit{
				position:absolute;
				right: 1.9rem;
				top: 2.5rem;
				width:2.4rem;
			}
			.user-img-con{
				position:absolute;
				width: 100%;
				img{
					width:6.5rem;
					border-radius:3.25rem;
					float:left;
					margin-right:1.3rem;
				}
				a{
					img{
						position:absolute;
						top:0;
						left:0;
						width:2.1rem;
					}
				}
				p{
					padding-left:7.8rem;
					font-size:1.4rem;
					font-family: $family_2;
					color:white;
					margin-bottom:1.8rem;
				}
			}
		}
		.consume-div{
			margin-top:2rem;
			padding:0 2rem;
			font-size:1.4rem;
			font-family:$family_1;
			p{
				margin-bottom:2rem;
				a{
					img{
						width:2.4rem;
						float:right;
					}
				}
			}
			.head{
				color:#8826ff;
			}
		}

		.profile-link{
			color:#8826ff;
			font-size:1.4rem;
			font-family:$family_2;
			padding:0 2rem;
			margin-bottom:2rem;
			a{
				float:right;
			}
		}

		.upload-con{
			display:none;
		}
	}
}
// 个人页 结束

/*
* 呼叫 开始
*/
#call-page{
	background-image: url('/images/call-bg.png');
	background-size:cover;
	.content{
		overflow: hidden;
	}
	.icons{
		margin:0 auto;
		margin-top: 1rem;
		width: 6.6rem;
		position:relative;
		img{
			position:absolute;
			left:110%;
			width:8.35rem;
			height:4.25rem;
		}
		div{
			background-image: url('/images/call-1.png');
			background-size:cover;
			width:6.6rem;
			height:6.6rem;
			text-align:center;
			span{
				line-height:7.6rem;
				color:white;
				font-size:1.5rem;
				font-family: $family_1;
			}
			margin-bottom:2rem;
		}
		.already-call{
			background-image: url('/images/call-2.png');
			background-size:cover;
		}
	}
}

// 呼叫 结束

/*
* 酒品详情 开始
*/
#wine-detail-page{
	.content{
		img{
			width:100%;
			height:30rem;
		}
	}	
	.wine-info{
		padding:0 1.3rem;
		padding-top: 1.8rem;
		.head{
			font-family: $family_2;
			font-size:1.6rem;
			color:#3a3736;
			.wine-discount-price{
				color:#ff3333;
				font-size:1.2rem;
				float:right;	
				margin-left: 2rem;			
			}
			.wine-price{
				color:#ccc;
				font-size:1.2rem;
				float:right;
				text-decoration: line-through;
			}
		}
		.a-m-con{
			margin-bottom:1rem;
			margin-top:1.4rem;
			height:2.45rem;
			img{
				width:2.45rem;
				height:2.45rem;
				float:right;
			}
			span{
				color:#333333;
				font-size:1.2rem;
				float:right;
				line-height: 2.35rem;
    			margin: 0 1rem;
			}
		}
		.wine-des{
			color:#666666;
			font-size:1.2rem;
			padding-top:1.4rem;
			padding-bottom:1.4rem;
			border-top:1px solid #e5e5e4;
			line-height:24px;
		}
		
	}
}
// 酒品详情 结束

/*
* 密码重置 开始
*/
#modify-pw-page{
	.content{
		background-image: url('/images/pw-bg.png');
		background-size:cover;
		form{
			padding-top: 3.5rem;
			padding-bottom:2.5rem;
			width:87%;
			margin:0 auto;
			div{
				input{
					width:95%;
					padding-left:5%;
					background-color:#22053e;
					height:4rem;
					border-radius: 1.7rem;
					margin-bottom:2rem;
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.valida-r{
					width:50%;
				}
				.get-valida-r{
					width: 40%;
					padding-left:0;
					text-align:center;
					background-color:transparent;
					border:2px solid #7a5c8b;
				}
				.login-r{
					background-color:#5c53ff;
					color:white;
					text-align:center;
				}
			}
		}
	}
}
// 密码重置 结束

/*
* 在线点酒 开始
*/
#menu-page{
	position: relative;
	#confirm-leave{
		height:11.2rem;
		padding:0 7%;
		padding-top:3.3rem;
		display:none;
		position:absolute;
		top:0;
		left:0;
		width:76%;
		z-index:100;
	    background-color: white;
	    text-align: center;
	    margin:0 5%;
		.ui-content{
			padding:0;	
			p{
				margin-bottom:3.2rem;
				font-family:$family_1;
				font-size:1.3rem;
				color:#333;
			}			
			div{
				width:40%;
				height:4rem;
				border-radius: 35%; 
				span{
					line-height:4rem;
					color:white;
					font-size:1.5rem;
					font-family:$family_1;
				}
			}
			#order-leave{
				float:left;
				background-color:#7c00ff;
			}
			#order-stay{
				float:right;
				background-color:#0099ff;

			}
		}
	}
	.content{
	    // #confirm-leave{
	    // 	display:none;
	    // 	position:absolute;
	    // 	top:0;
	    // 	left:0;
	    // 	background-color:white;

	    // }

		div#menu-content{
			padding:0;

			.control-con{
				width:25%;
				height: 100%;
				background-color: #f1f1f1;
				float:left;
				ul{
					margin: 0;
					padding: 0;
    				text-align: center;
    				li{
    					list-style:none;
    				}					
				}
				.tablist-left{
					li{
						a{
							background-color: #f1f1f1;
							padding-top:0;
							padding-bottom:0;
							height:5rem;
							line-height:5rem;
							font-family: $family_1;
							color:#999;
							font-size:1.4rem;
							font-weight:normal !important;
							padding: 0;
    						text-align: center;
						}
						a:hover{
							background-color:white;
							color:#8826ff;
							border-right:none;
						}
						a.ui-btn-active{
							text-shadow: none;
						}
						.last-control{
							border-bottom-width: 0;
						}
					}
				}			
			}

			.set-con{
				width: 75%;
				height: 100%;
				background-color:white;
				overflow: scroll;
				float:right;				
				ul.menu-type{
					margin:0;
					display:none;
					padding:0;					
					li{
						height:9.7rem;
						border:none;
						border-bottom: 1px solid #e5e5e5;
						padding:0;
						margin: 1.2rem 1.2rem 0 1rem;
						p{
							margin:0;
						}						
						.wine-name{
							font-family: $family_1;
							color:#3a3736;
							font-size:1.3rem;
						}
						.wine-des{
							font-family: $family_1;
							color:#999;
							font-size:0.9rem;
							margin-top:10px;
						}
						.price-con{
							margin-top:.5rem;
							span{
								// float:left;
								
							}
							img{
								float:right;
								width:2.4rem;
							}
							.wine-price{
								font-family: 'Arial';
								color:#333;
								font-size:1.2rem;
								margin-right:.5rem;
							}
							.wine-discount-price{
								font-family: 'Arial';
								color:#ccc;
								font-size:1.2rem;
								text-decoration: line-through;
								// 没有位置了
								// display:none;
							}
							.num{
								float:right;
								font-family: 'Arial';
								// color:white;
								font-size:1.2rem;
								margin:0 1rem;
								display:none;
								line-height:2.5rem;
							}
							.minus-order{
								// 没有位置了
								display:none;
							}
						}						
						div.img{
							// background: url(/images/food.png) no-repeat;
							border-radius: 1.2rem;
							width:6rem;
							height:6rem;
							margin-right: 1rem;
							float:left;
						}						
					}
				}
				ul.on{
					display:block
				}				
			}
		}

		#shopping-table{
			display:none;
			position: absolute;
			left:0;
			bottom:0;
			background-color:black;
			opacity:0.9;
			z-index: 100;
    		width: 90%;
    		color:white;
    		padding:0 5%;
    		padding-top:1.7rem;    		
    		font-size:1.4rem;
			font-family: $family_1;
    		img{
				width:2.7rem;
				height:2.2rem;
				margin-bottom:2rem;				
			}
			.shopping-num{
				font-family:'HiraginoSansGB W6', Arial;
				color:white;
				font-size:.8rem;
				position: absolute;
				top: 1.7rem;
				left: 2.9rem;
				width: 1.4rem;
			    height: 1.4rem;
			    background-color: red;
			    border-radius: .7rem;
			    text-align: center;
			    span{
					line-height: 1.4rem;
			    }
			}			
			table{
				width:100%;
				margin-bottom:2rem;
				thead{
					display:none;
				}
				tr{
					height:4rem;
					td{
						width:33.33%;
						float: left;
	    				padding: 0;
	    				color:#999;
					}
					.money{
						text-align:right;
					}
				}				
			}
			p{
				text-align:right;
		    	color:#fff;
		    	margin-bottom:2rem;
			}
			.decision{
				width:78%;
				height:3.5rem;
				background-color:#7c00ff;
				color:white;
				margin:0 auto;
				border-radius: 1.7rem;
				text-align: center;
				span{
					line-height:3.5rem;
				}
				margin-bottom: 1.5rem;
			}    		
		}

	}
	.footer{
		height: 4.35rem;
		width: 100%;
		background-color:black;
		filter: apphs(opacity=90);
		opacity:0.9;
		// position: absolute;
		// padding:0 1rem;
		font-weight: normal;
		border: none;
		// bottom: 0;
		position:relative;
		img{
			width:2.7rem;
			height:2.2rem;
			margin-top: 1.05rem;
			margin-right: 1rem;
			margin-left: 1rem;
			float:left;
		}
		.shopping-num{
			font-family:'HiraginoSansGB W6', Arial;
			color:white;
			font-size:.8rem;
			position: absolute;
			top: 1rem;
			left: 2.9rem;
			width: 1.4rem;
		    height: 1.4rem;
		    background-color: red;
		    border-radius: .7rem;
		    text-align: center;
		    display: none;
		    span{
				line-height: 1.4rem;
		    }
		}
		.shopping-word{
			line-height: 4.35rem;
			height: 100%;
			padding-right:1.7rem;
			margin-right:1rem;
			.shopping-spend{
				color:white;
				font-family:'HiraginoSansGB W3', Arial;
				font-size:1.4rem;
			}
			.order-confirm{
				font-family:'HiraginoSansGB W3', Arial;
				font-size:1.4rem;
				color:#7808ff;
				float:right;
				text-shadow: none;
			}
		}		
	}
	// #confirm-leave-popup{
	// 	text-align:center;
	// 	width:89%;
	// 	height:14.5rem;		
	// 	#confirm-leave{
	// 		height:11.2rem;
	// 		padding:0 7.7%;
	// 		padding-top:3.3rem;
	// 		.ui-content{
	// 			padding:0;	
	// 			p{
	// 				margin-bottom:3.2rem;
	// 				font-family:$family_1;
	// 				font-size:1.3rem;
	// 				color:#333;
	// 			}			
	// 			div{
	// 				width:40%;
	// 				height:4rem;
	// 				border-radius: 35%; 
	// 				span{
	// 					line-height:4rem;
	// 					color:white;
	// 					font-size:1.5rem;
	// 					font-family:$family_1;
	// 				}
	// 			}
	// 			#order-leave{
	// 				float:left;
	// 				background-color:#7c00ff;
	// 			}
	// 			#order-stay{
	// 				float:right;
	// 				background-color:#0099ff;

	// 			}
	// 		}
	// 	}		
	// }	
}

/*
* 聊天 开始
*/
#chat-page{
	.content{
		clear:both;
		background-color:#f8f8f8;
		padding: 1.4rem 1.2rem 1.4rem 1.2rem;
		overflow: scroll;
		.item{
			clear:both;
			.u-img{
				width:12%;
				float:left;
				margin-bottom: 1.5rem;
				img{
					width:100%;					
					border-radius:50%;					
				}
			}			
			div{
				.uname{
					color:#8e8e93;
					font-size:0.9rem;
					font-family:$family_1;
					padding-left:19%;
					margin-bottom:.5rem;
				}
				.chat-content{
					margin:0;
					padding-left:3.75%;
					padding-right:3.125%;
					background-color:#39aafa;
					border-radius:1.4rem;
					margin-left: 3.6%;
					float:left;
					max-width:76.56%;
					margin-bottom:1.5rem;
					span{
						line-height:2.7rem;
						color:white;
						font-size:1.3rem;
						font-family:$family_2;
					}			
				}
			}
		}
		.item-r{
			.u-img{
				float:right;
			}
			div{
				.uname{
					text-align:right;
					padding-left:0;
					padding-right:19%;
				}
				.chat-content{
					padding-left:3.125%;
					padding-right:3.75%;
					margin-right: 3.6%;
					float:right;
				}
			}
		}
		.my-chat{
			border-top:1px solid #d9d9d9;
			padding-top:1.2rem;
			float: left;
    		width: 100%;
    		position:relative;
    		margin-top:.7rem;
    		.current-time-con{
    			position:absolute;
				top:-8px;
				width: 100%;
    			text-align: center;
    			.current-time{
					color:#d9d9d9;
					font-size:0.9rem;
					font-family:$family_1;
					background-color: #f8f8f8;
    				padding: 0 5px;
				}
    		}
			
		}		
	}

	.footer{
		height:4rem;
		opacity: 1;
		border:none;
		#chat-input{
			height: 3rem;
		    margin-top: .5rem;
		    margin-left: 5%;
		    float: left;
		    width: 65%;
		    border-radius: .5rem;
		    padding-left: 5%;
		    border: 1px solid #dadada;
		}
		#chat-submit{
			float: right;
		    margin-right: 5%;
		    height: 3rem;
		    margin-top: .5rem;
		    width: 15%;
		    background-color: white;
		    border: 1px solid #dadada;
		}
	}	
}
// 聊天 结束


// 在线点酒 结束