$family_1: 'Microsoft YaHei';
$family_2: '';


html {
	font-size: 75%;
}
@media only screen and (min-width: 481px){
	html {
		font-size: 94%!important;
	}
}
@media only screen and (min-width: 561px){
	html {
		font-size: 109%!important;
	}

}
@media only screen and (min-width: 641px){
	html {
		font-size: 125%!important;
	}
}

body{
	span,
	p,
	a,{
		text-shadow:none;

	}
	input{
		outline:none;
		border:none;
	}
	a{
		text-decoration:none;
		font-weight:normal !important;
	}
}

// 遮罩层
.overlay{
    background-color: #000;
	filter: apphs(opacity=50);
	opacity:0.5;
	display:none;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100; 
}

// 透明度: 选择性别
.opacition{
	filter: apphs(opacity=50);
    opacity:0.5;
}

// 定位模块
.loc-con{
	padding: 0 1.8rem;
	background-image:-webkit-linear-gradient(to right, #5274b2, #8b00b2);
    background-image:linear-gradient(to right,#5274b2, #8b00b2);
	height:4rem;
	img{
		width:1.3rem;
		height:1.6rem;
		margin-top: 1.2rem;
		float:left;
		margin-right:0.8rem;
	}
	span{
		line-height: 4rem;
		font-family: $family_1;
		color:white;
		font-size: 1.4rem;
		float:left;
	}
	.loc{
		width:15rem;
		overflow: hidden;
    	height: 4rem;
	}
	.re-loc{
		float:right;
	}
}

// content 不需要padding
.content{
	padding:0
}

/*
* 首页 开始
*/
#main-page{
	.icons{
		background-image: url('/images/main-bg.png');
		background-size:cover;
		padding: 0 16%;
		padding-top: 6.5rem;
		width: 68%;
		div{
			float:left;
			width:30%;
			margin-right:40%;
			img{
				width:100%;
			}
			p{
				margin-top:1.7rem;
				margin-bottom: 2.8rem;
				text-align:center;
				a{
					font-size:1.4rem;
					font-family: $family_1;
					color:white;
				}
			}			
		}
		.main-right{
			margin-right:0;
		}
	}
}

// 首页 结束

/*
* 编辑资料1
* 编辑资料2
*/
.edit-page{
	.content{
		
		background-color: #f8f8f8;
		div{
			margin-top:2.5rem;
			padding:0 2rem;
		}
	}
}

// 编辑资料结束

/*
* 注册 开始
*/
#register-page{
	.content{
		background-image: url('/images/login-bg.png');
		background-size:cover;		
		form{
			padding-top: 26.3rem;
			padding-bottom:2.5rem;
			width:87%;
			margin:0 auto;
			div{
				input{
					width:95%;
					padding-left:5%;
					background-color:#22053e;
					height:4rem;
					border-radius: 1.7rem;
					margin-bottom:2rem;
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.valida-r{
					width:50%;
				}
				.get-valida-r{
					width: 40%;
					padding-left:0;
					text-align:center;
					background-color:transparent;
					border:2px solid #7a5c8b;
				}
				.login-r{
					background-color:#5c53ff;
					color:white;
					text-align:center;
				}
			}
		}
	}
}
// 注册 结束

/*
* 登陆 开始
*/
#login-page{
	.content{
		background-image: url('/images/login-bg.png');
		background-size:cover;		
		form{
			padding-top: 27.5rem;
			padding-bottom:3rem;
			width:87%;
			margin:0 auto;
			div{
				input{
					width:95%;
					padding-left:5%;
					background-color:#22053e;
					height:4rem;
					border-radius: 1.7rem;
					margin-bottom:2rem;
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.login-pw{
					margin-bottom:3rem;
				}
				.login{
					text-align:center;
					background-color:#5e4fff;
				}
				a{
					color:white;
					font-size:1.5rem;
					font-family: $family_2;
				}
				.free-register{
					float:left;
				}
				.forget-pw{
					float:right;
				}
			}
		}
	}
}
// 登陆 结束




#menu-page{
	.content{
		.control-con{
			.shopping-cart{

			}
			width:30%;
			position: relative;

			span{
				width:20px;
				height:20px;
				position:absolute;
				bottom:20px;
				margin:0 auto;
				background-color:olive;
			}
		}
		.set-con{
			width: 70%;

			.decision{
				a{
					float:right;
				}
			}
			li{
				position: relative;
				div{
					float:left;
				}
				.img{
					// background-image: url(/images/wine.jpg);
					background-color:olive;
					width:50px;
					height:60px;
					margin-right: 10px;
				}
				span{
					position:absolute;
					bottom:10px;
					right:0;
					background-color: orange;
    				color: white;
				}
			}
		}
	}
}