@charset "UTF-8";
html {
  font-size: 75%; }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; } }
body span,
body p,
body a {
  text-shadow: none; }
body input {
  outline: none;
  border: none; }
body a {
  text-decoration: none;
  font-weight: normal !important; }
body p {
  margin: 0; }

.overlay {
  background-color: #000;
  filter: apphs(opacity=50);
  opacity: 0.5;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.opacition {
  filter: apphs(opacity=50);
  opacity: 0.5; }

.loc-con {
  padding: 0 1.8rem;
  background-image: -webkit-linear-gradient(to right, #5274b2, #8b00b2);
  background-image: linear-gradient(to right, #5274b2, #8b00b2);
  height: 4rem; }
  .loc-con img {
    width: 1.3rem;
    height: 1.6rem;
    margin-top: 1.2rem;
    float: left;
    margin-right: 0.8rem; }
  .loc-con span {
    line-height: 4rem;
    font-family: "Microsoft YaHei";
    color: white;
    font-size: 1.4rem;
    float: left; }
  .loc-con .loc {
    width: 15rem;
    overflow: hidden;
    height: 4rem; }
  .loc-con .re-loc {
    float: right; }

.content {
  padding: 0; }

/*
* 首页 开始
*/
#main-page .icons {
  background-image: url("/images/main-bg.png");
  background-size: cover;
  padding: 0 16%;
  padding-top: 6.5rem;
  width: 68%; }
  #main-page .icons div {
    float: left;
    width: 30%;
    margin-right: 40%; }
    #main-page .icons div img {
      width: 100%; }
    #main-page .icons div p {
      margin-top: 1.7rem;
      margin-bottom: 2.8rem;
      text-align: center; }
      #main-page .icons div p a {
        font-size: 1.4rem;
        font-family: "Microsoft YaHei";
        color: white; }
  #main-page .icons .main-right {
    margin-right: 0; }

/*
* 编辑资料1
* 编辑资料2
*/
.edit-page .content {
  background-color: #f8f8f8;
  padding-top: 2.5rem; }
  .edit-page .content div {
    margin: 0 auto;
    width: 87.5%; }
    .edit-page .content div p {
      color: #3a3736;
      font-size: 1.4rem;
      font-family: ""; }
    .edit-page .content div input {
      margin: 1.2rem 0;
      width: 95%;
      padding-left: 5%;
      height: 3.5rem;
      border: 1px solid #ccc;
      background-color: white;
      border-radius: .3rem; }

/*
* 注册 开始
*/
#register-page .content {
  background-image: url("/images/login-bg.png");
  background-size: cover; }
  #register-page .content form {
    padding-top: 26.3rem;
    padding-bottom: 2.5rem;
    width: 87%;
    margin: 0 auto; }
    #register-page .content form div input {
      width: 95%;
      padding-left: 5%;
      background-color: #22053e;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
      font-family: ""; }
    #register-page .content form div .valida-r {
      width: 50%; }
    #register-page .content form div .get-valida-r {
      width: 40%;
      padding-left: 0;
      text-align: center;
      background-color: transparent;
      border: 2px solid #7a5c8b; }
    #register-page .content form div .login-r {
      background-color: #5c53ff;
      color: white;
      text-align: center; }

/*
* 登陆 开始
*/
#login-page .content {
  background-image: url("/images/login-bg.png");
  background-size: cover; }
  #login-page .content form {
    padding-top: 27.5rem;
    padding-bottom: 3rem;
    width: 87%;
    margin: 0 auto; }
    #login-page .content form div input {
      width: 95%;
      padding-left: 5%;
      background-color: #22053e;
      height: 4rem;
      border-radius: 1.7rem;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
      font-family: ""; }
    #login-page .content form div .login-pw {
      margin-bottom: 3rem; }
    #login-page .content form div .login {
      text-align: center;
      background-color: #5e4fff; }
    #login-page .content form div a {
      color: white;
      font-size: 1.5rem;
      font-family: ""; }
    #login-page .content form div .free-register {
      float: left; }
    #login-page .content form div .forget-pw {
      float: right; }

/*
* 个人页 开始
*/
#profile-page {
  position: relative; }
  #profile-page .content-head {
    background-color: #6946ff;
    height: 10rem;
    padding: 0 14%;
    padding-top: 3.5rem;
    padding-bottom: 0.7rem; }
    #profile-page .content-head img.user-edit {
      position: absolute;
      right: 1.9rem;
      top: 2.5rem;
      width: 2.4rem; }
    #profile-page .content-head .user-img-con {
      position: absolute;
      width: 100%; }
      #profile-page .content-head .user-img-con img {
        width: 6.5rem;
        border-radius: 3.25rem;
        float: left;
        margin-right: 1.3rem; }
      #profile-page .content-head .user-img-con a img {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.1rem; }
      #profile-page .content-head .user-img-con p {
        padding-left: 7.8rem;
        font-size: 1.4rem;
        font-family: "";
        color: white;
        margin-bottom: 1.8rem; }
  #profile-page .consume-div {
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-family: ""; }
    #profile-page .consume-div p {
      margin-bottom: 2rem; }
      #profile-page .consume-div p a img {
        width: 2.4rem;
        float: right; }
    #profile-page .consume-div .head {
      color: #8826ff; }
  #profile-page .profile-link {
    color: #8826ff;
    font-size: 1.4rem;
    font-family: "";
    padding: 0 2rem;
    margin-bottom: 2rem; }
    #profile-page .profile-link a {
      float: right; }
  #profile-page .upload-con {
    display: none; }

#menu-page .content .control-con {
  width: 30%;
  position: relative; }
  #menu-page .content .control-con span {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    background-color: olive; }
#menu-page .content .set-con {
  width: 70%; }
  #menu-page .content .set-con .decision a {
    float: right; }
  #menu-page .content .set-con li {
    position: relative; }
    #menu-page .content .set-con li div {
      float: left; }
    #menu-page .content .set-con li .img {
      background-color: olive;
      width: 50px;
      height: 60px;
      margin-right: 10px; }
    #menu-page .content .set-con li span {
      position: absolute;
      bottom: 10px;
      right: 0;
      background-color: orange;
      color: white; }

/*# sourceMappingURL=style.css.map */
