<!DOCTYPE html>
<html>
<head>
  <title>酒吧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="styles/bar/normalize.css"> 
  <link rel="stylesheet" href="styles/bar/style.css">  
</head>
<body>
	<div id='call-page'> 

      <div class='header'>
        <div class='img-con'><img src='images/return.png'></div>
        <h1>呼叫</h1>
      </div>   

      <div class='content'>        
        <div class='icons'>
          <img class='call-tip' src='images/call-tip.png'/>
          <div class='already-call'>
            <span>点餐</span>
          </div>
          <div>            
            <span>清理</span>
          </div>
          <div>
            <span>纸巾</span>
          </div>
          <div>
            <span>骰子</span>
          </div>          
        </div>
      </div>

    </div>
	<script src="js/zepto/zepto.min.js"></script>
  <script src="js/bar/cookie.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B4aa49233be137b159257762c65652fd"></script>
	<script src="js/bar/index.js"></script>
	
</body>