<!DOCTYPE html>
<html>
<head>
  <title>酒吧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/jquerymobile/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="styles/bar/normalize.css"> 
  <link rel="stylesheet" href="styles/bar/style.css">  
</head>
<body>
    <div id='overlay' class='overlay'></div>
    <a id='change-page' href=''></a>

    
    

    <!-- 首页 -->
    <div data-role='page' id='main-page'>

      <div data-role='header' class='header'>
        <a href="#" data-role="button">桌号16</a>
        <h1>小美</h1>
        <a href="#" data-role="button" class="ui-btn-right">图标</a>     
      </div>

      <div data-role='content' class='content'>
        <div class='loc-con'>
          <!-- 设置相同的行高 --> 
          <div class='loc-sign'>
            <img src='/images/loc-1.png' />
          </div>       
          <span class='loc'>正在定位</span>
          <span class='re-loc'>重新定位</span>
        </div>
        <div class='icons' id='icons'>
          <div>
            <a href='#menu-page'><img src='images/order-icon.png' /></a>
            <p><a href='#menu-page'>点餐</a></p>
          </div>
          <div class='main-right'>
            <a href='#call-page'><img src='images/call-icon.png' /></a>
            <p><a href='#call-page'>呼叫</a></p>
          </div>
          <div>
            <img src='images/game-icon.png' />
            <p>游戏</p>
          </div>
          <div class='main-right'>
            <img src='images/chat-icon.png'/>
            <p>聊天室</p>
          </div>
          <div>
            <img id='main-my-img' src='images/profile-icon.png' />
            <p id='main-my-p'>我的</p>
          </div>
        </div>
      </div>

    </div>

    <!-- 编辑资料1 -->
    <div data-role='page' id='edit-1-page' class='edit-page'>

      <div data-role='header' class='header'>
        <a href="#" data-role="button">桌号16</a>
        <h1>呼叫</h1>
        <a href="#" data-role="button" class="ui-btn-right">图标</a>     
      </div>

      <div data-role='content' class='content' id='edit-1-content'>
        <div class='loc-con'>
          <!-- 设置相同的行高 --> 
          <div class='loc-sign'>
            <img src='/images/loc-1.png' />
          </div>       
          <span class='loc'>正在定位</span>
          <span class='re-loc'>重新定位</span>
        </div>
        <div>
            <p>昵称</p>
            <input type='text' data-role='none' />        
        </div>
        <div>
            <p>性别</p>
            <input type='text' data-role='none' />        
        </div>
        <div>
            <p>电话</p>
            <input type='text' data-role='none' />        
        </div>
      </div>

    </div>

    <!-- 编辑资料2 -->
    <div data-role='page' id='edit-2-page' class='edit-page'>

      <div data-role='header' class='header'>
        <a href="#" data-role="button">桌号16</a>
        <h1>呼叫</h1>
        <a href="#" data-role="button" class="ui-btn-right">图标</a>     
      </div>

      <div data-role='content' class='content' id='edit-1-content'>
        <div class='loc-con'>
          <!-- 设置相同的行高 --> 
          <div class='loc-sign'>
            <img src='/images/loc-1.png' />
          </div>       
          <span class='loc'>正在定位</span>
          <span class='re-loc'>重新定位</span>
        </div>
        <div>
            <p>年龄</p>
            <input type='text' data-role='none' />        
        </div>
        <div>
            <p>星座</p>
            <input type='text' data-role='none' />        
        </div>
        <div>
            <p>爱好</p>
            <input type='text' data-role='none' />        
        </div>
        <div>
            <p>签名</p>
            <input type='text' data-role='none' />        
        </div>
      </div>

    </div>

    <!-- 注册 -->
    <div data-role='page' id='register-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="none"><返回</a>
        <h1>注册</h1>
        <a href="#" data-role="none" class="ui-btn-right">...</a>
      </div>
      <div data-role='content' class='content'>
        <form method="post" action="#">
          <div>
            <input type='text' class='phone-r' data-role='none' placeholder='手机号码' />
          </div>
          <div>
            <input type='text' class='valida-r' data-inline='true' data-role='none' placeholder='验证码' />
            <input type='text' readonly class='get-valida-r' data-inline='true' data-role='none' placeholder='获取验证码' />
          </div>
          <div>
            <input type='password' class='pw-r' data-role='none' placeholder='密码6-20位字符' />
          </div>
          <div>
            <input type='password' class='login-r' data-role='none' placeholder='登陆' />
          </div>
        </form>

      </div>       

    </div>

    <!-- 登陆 -->
    <div data-role='page' id='login-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="none"><返回</a>
        <h1>登陆</h1>
        <a href="#" data-role="none" class="ui-btn-right">...</a>
      </div>
      <div data-role='content' class='content'>
        <form method="post" action="#">
          <div>
            <input type='text' class='phone-l' data-role='none' placeholder='手机号码' />
          </div>
          <div>
            <input type='password' class='pw-l' data-role='none' placeholder='密码6-20位字符' />
          </div>
          <div>
            <input type='password' class='login-l' data-role='none' placeholder='登陆' />
          </div>
          <div>
            <a href='#register' class='free-register' data-role='none'>免费注册</a>
            <a href='#modify-pw' class='forget-pw' data-role='none'>忘记密码</a>
          </div>
        </form>

      </div>       

    </div>

    <!-- 订单确认页 -->
    <div data-role='page' id='order-confirm-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="button"><</a>
        <h1>订单确认</h1>
      </div>
      <div data-role='content' class='content'>
        <div class='consume-div'>
            <p class='head'>消费信息</p>              
            <p>今日消费：<span id='today-consume'>&#165;135</span></p>
            <p class='last-t'>历史消费：<span id='all-cousume'>&#165;135</span></p>       
        </div>
        <div class='consume-div'>
            <p class='head'>已点酒水</p>        
            <table data-role='table' id='shopping-table' class=''>
            <!-- ui-responsive table-stroke -->
                <thead>
                    <tr>
                        <th></th>                
                        <th></th>                
                        <th></th>
                    </tr>                
                </thead>
                <tbody>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>                
                </tbody>
            </table>
        </div>
        <p class='amount'>总金额：<span>￥52</span></p>
        <div class='place-order'>
          
          <a href="#" data-role="button" class='' data-role='none' data-inline="true">立即下单</a>
          <p>下单后会有服务员来跟您确认并收款</p>
        </div>   
      </div>
    </div>

    <!-- 定位失败 -->
    <div data-role='page' id='scope-page'>      

      <div data-role='content' class='content'>
          <img src='images/scope-out.png'>
          <p>当前位置不在服务范围，无法点单哦！</p>
      </div>

    </div>

    <!-- 个人页 -->
    <div data-role='page' id='profile-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="none"><</a>
        <h1>个人主页</h1>
      </div>

      <div data-role='content' class='content'>
          <div class='content-head'>
            <div class='user-edit'>
                <img src='images/edit.png'/>
            </div>
            <div class='user-img-con'>
              <img class='user-img' id='user-img' src='/images/head.png'/>
              <a href='#edit-1-page'><img class='camera' src='/images/camera.png'></a>
              <p>昵称：<span>昵称</span></p>
              <p>性别：<span>性别</span></p>
              <p>电话：<span>18811111111</span></p>
            </div>
          </div>
          <div class='consume-div'>
              <p class='head'>消费信息</p>              
              <p>今日消费：<span id='today-consume'>&#165;135</span></p>
              <p class='last-t'>历史消费：<span id='all-cousume'>&#165;135</span></p>       
          </div>        

          <div class='consume-div'>
              <p class='head'>更多信息<a href='#edit-2-page'><img src='images/edit.png'></a></p>
              <p>年龄：<span id='user-age'>26</span></p>         
              <p>星座：<span id='user-horo'>狮子座</span></p>         
              <p>爱好：<span id='hobby'>26</span></p>         
              <p class='last-t'>签名：<span id='user-sign'>26</span></p>
          </div>
                   
          <p class='profile-link'>修改密码<a href='#modify-pw'>></a></p>
          <p class='profile-link'>我的订单<a href='#order-confirm-page'>></a></p>      
          
          <div class='upload-con' id='upload-con'>
            <a href="#" data-role="button" class='' data-inline="true">来自相册</a>
            <a href="#" data-role="button" class='' data-inline="true">拍照</a>
            <a href="#" data-role="button" class='' data-inline="true">取消</a>
          </div>
      </div>
    </div>

    <!-- 呼叫 -->
    <!-- call-tip的颜色不对 -->
    <div data-role='page' id='call-page'>

      <div data-role='header' class='header'>
        <a href="#" data-role="button">桌号16</a>
        <h1>呼叫</h1>
        <a href="#" data-role="button" class="ui-btn-right">图标</a>     
      </div>

      <div data-role='content' class='content' id='call-content'>
        <div class='loc-con'>
          <!-- 设置相同的行高 --> 
          <div class='loc-sign'>
            <img src='/images/loc-1.png' />
          </div>       
          <span class='loc'>正在定位</span>
          <span class='re-loc'>重新定位</span>
        </div>
        <div class='icons' id='call-icons'>
          <img class='call-tip' src='images/call-tip.png'/>
          <div class='already-call'>
            <span>点餐</span>
          </div>
          <div>            
            <span>清理</span>
          </div>
          <div>
            <span>纸巾</span>
          </div>
          <div>
            <span>骰子</span>
          </div>          
        </div>
      </div>

    </div>

    <!-- 酒品详情 -->
    <div data-role='page' id='wine-detail-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="button"><</a>
        <h1>订单确认</h1>
      </div>
      <div data-role='content' class='content'>
         <img src='images/wine-head.png' />
         <div class='wine-info'>
           <p class='head'>罗斯福十号<span class='discount'>套餐价￥88</span><span class='price'>原价￥98</span></p>
           <p class='a-m-con'>
              <img class='add' src='images/add.png'/>
              <span class='wine-num'>26</span>              
              <img class='minus' src='images/minus-1.png'/>
           </p>
           <p class='wine-des'>
             Rochefort啤酒是著名的7大修道院啤酒品牌（trappist beer）中的一员。Rochefort啤酒生产于比利时de Saint Remy（圣雷米）修道院内，这个修道院坐落于名叫Rochefort的城镇，所以这个修道院的啤酒就以此地名命名了。Rochefort brewery的主要产品有三种：6，8，10，其中Rochefort 10是最浓烈的一款，也是外界评价最高的一款，这款酒有几乎和葡萄酒一样的酒精度（11.3% ABV）和厚重浓郁的口感，非常适合秋冬季节引用。
           </p>
         </div>  
      </div>
    </div>    

    <!-- 密码重置 -->
    <div data-role='page' id='modify-pw-page'>
      
      <div data-role='header' class='header'>
        <a href="#" data-role="none"><返回</a>
        <h1>注册</h1>
        <a href="#" data-role="none" class="ui-btn-right">...</a>
      </div>
      <div data-role='content' class='content'>
        <form method="post" action="#">
          <div>
            <input type='text' class='phone-r' data-role='none' placeholder='手机号码' />
          </div>
          <div>
            <input type='text' class='valida-r' data-inline='true' data-role='none' placeholder='验证码' />
            <input type='text' readonly class='get-valida-r' data-inline='true' data-role='none' placeholder='12s后重发' />
          </div>
          <div>
            <input type='password' class='pw-r' data-role='none' placeholder='新密码6-20位字符' />
          </div>
          <div>
            <input type='password' class='login-r' data-role='none' placeholder='完成修改' />
          </div>
        </form>

      </div>       

    </div>  

    <!-- 在线点酒 -->
    <div data-role='page' id='menu-page'>

      <div data-role='header' class='header'>
        <a href="#" data-role="none"><返回</a>
        <a href="#give-up-modify" id='modify-dialog' data-rel="popup" data-position-to="window" data-transition="pop" style='display:none' ></a>
        <h1>在线点酒</h1>
        <a href="#" data-role="none" class="ui-btn-right">...</a>
      </div>

      <div data-role='content' class='content'>
        <div data-role="popup" id="give-up-modify" data-dismissible="false">
          <div role="main" class="ui-content">
            <p>购物篮不为空，确认离开吗？</p>             
            <div id='order-leave'>
              <span>确定</span>
            </div>
            <div id='order-stay'>        
              <span>取消</span>        
            </div>
          </div>
        </div>
        <div data-role="popup" id="shopping-content" class='shopping-content' data-dismissible="false">
          <div role="main" class='ui-content' id=''>
            <table data-role='table' id='shopping-table' class='ui-responsive table-stroke'>
                <thead>
                    <tr>
                        <th></th>                
                        <th></th>                
                        <th></th>
                    </tr>                
                </thead>
                <tbody>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>
                    <tr>
                        <td>罗斯福十号</td>
                        <td>X1</td>
                        <td>￥13</td>
                    </tr>                
                </tbody>
            </table>
            <p>总金额：￥<span>88</span></p>
            <div class='decision' id='order-confirm-31'>
              <span>订单确认</span>
            </div>
          </div>
        </div>
        <div class='loc-con'>
          <!-- 设置相同的行高 --> 
          <div class='loc-sign'>
            <img src='/images/loc-1.png' />
          </div>       
          <span class='loc'>正在定位</span>
          <span class='re-loc'>重新定位</span>
        </div>
        
          <div data-role="tabs">
            <div class='ui-block-a control-con'>
                <ul data-role="listview" data-inset="true" class="tablist-left">        
                  <li data-icon="false"><a href="#recommend" data-role='none' data-icon='none'>酒店推荐</a></li>
                  <li data-icon="false"><a href="#set-meal" data-role='none' data-ajax="false">套餐</a></li>
                  <li data-icon="false"><a href="#type1" data-role='none' data-ajax="false">类别1</a></li>
                  <li data-icon="false"><a href="#type2" data-role='none' class='last-control' data-ajax="false">类别2</a></li>
                  </ul>                      
            </div>
            <div class='ui-block-b set-con'>
              <!-- <div> -->
                <ul id="recommend" class="tablist-content" data-role="listview" data-inset="true">
                    <li>
                      <!-- <div class='img-con'> -->
                        <div class='img'></div>
                        <!-- <a href='#wine-detail'><img src='' /></a> -->
                      <!-- </div>                 -->
                      <div>
                        <p class='rec-name'>畅饮套餐</p>
                        <p class='rec-des'>详细描述</p>
                        <p class='price-con'>
                          <span class='rec-price'>&#165; 26.00</span> 
                          <span class='discount-price'>&#165; 26.00</span>            
                          <img class='add-order' src='/images/add.png' />
                          <span class='order-number' >0</span>
                          <img class='minus-order' src='/images/minus.png' />
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class='img'><a href='#wine-detail'></a></div>                
                      <div>
                        <p class='rec-name'>畅饮套餐</p>
                        <p class='rec-des'>详细描述</p>
                        <p class='price-con'>
                          <span class='rec-price'>&#165; 26.00</span> 
                          <span class='discount-price'>&#165; 26.00</span>            
                          <img class='add-order' src='/images/add.png' />
                          <span class='order-number'>0</span>
                          <img class='minus-order' src='/images/minus.png' />
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class='img'><a href='#wine-detail'></a></div>                
                      <div>
                        <p class='rec-name'>畅饮套餐</p>
                        <p class='rec-des'>详细描述</p>
                        <p class='price-con'>
                          <span class='rec-price'>&#165; 26.00</span> 
                          <span class='discount-price'>&#165; 26.00</span>            
                          <img class='add-order' src='/images/add.png' />
                          <span class='order-number'>0</span>
                          <img class='minus-order' src='/images/minus.png' />
                        </p>
                      </div>
                    </li>                           
                </ul>

                <ul id="set-meal" class="tablist-content" data-role="listview" data-inset="true">
                    
                </ul>
                <ul id="type1" class="tablist-content" data-role="listview" data-inset="true">
                    
                </ul>

                <ul id="type2" class="tablist-content" data-role="listview" data-inset="true">
                    
                </ul>            
            </div>
          </div>     
      </div>
      <div data-role="footer" class='footer'>
          <img id='shopping-cart' src='/images/shopping.png'>
          <div class='shopping-num'><span>6</span></div>
          <div class='shopping-word'>
              <span class='shopping-spend'>￥666.00</span>
              <span class='order-confirm' id='order-confirm'>订单确认</span>
          </div>
      </div>
    </div>  
    
<script src="js/jquery/jquery-2.1.4.js"></script>
<script src="js/jquerymobile/jquery.mobile-1.4.5.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B4aa49233be137b159257762c65652fd"></script>
<script src="js/bar/index.js"></script>
</body>
</html>