<!DOCTYPE html>
<html>
<head>
  <title>酒吧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="styles/bar/normalize.css"> 
  <link rel="stylesheet" href="styles/bar/style.css">  
</head>
<body>
	<div id='login-page'>  

      <div class='header'>
        <div class='img-con'><img src='images/return.png'></div>
        <h1>登录</h1>
      </div>      
      
      <div class='content'>
        <form method="post" action="#">
          <div>
            <input type='text' class='' id='login-number' placeholder='手机号码' />
          </div>
          <div>
            <input type='password' id='login-pw' class='login-pw' placeholder='密码6-20位字符' />
          </div>
          <div>
            <input type='text' class='login' id='login-s' readonly placeholder='登陆' />
          </div>
          <div>
            <a href='#register-page' class='free-register' >免费注册</a>
            <a href='#modify-pw-page' id='forget-pw' class='forget-pw' >忘记密码</a>
          </div>
        </form>

      </div>       

    </div>
	<script src="js/zepto/zepto.min.js"></script>
  <script src="js/bar/cookie.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B4aa49233be137b159257762c65652fd"></script>
	<script src="js/bar/index.js"></script>
	
</body>