<!DOCTYPE html>
<html>
<head>
  <title>酒吧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="styles/bar/normalize.css"> 
  <link rel="stylesheet" href="styles/bar/style.css">  
</head>
<body>
	<div id='register-page'> 

      <div class='header'>
        <div class='img-con'><img src='images/return.png'></div>
        <h1>注册</h1>
      </div>      
      
      <div class='content'>
        <form method="post" action="#">
          <div>
            <input type='text' class='' id='phone-number' name='phone-number' placeholder='手机号码' />
          </div>
          <div>
            <input type='text' class='valida-r' id='validation-code' name='validation-code' placeholder='验证码' />
            <div class='validation-con'>
              <img src='/getCode' id='validation' class='get-valida-r'>
            </div>
            
          </div>
          <div>
            <input type='password' class='' id='pw-r' name='pw-r' placeholder='密码6-20位字符' />
          </div>
          <div>
            <input type='password' id='login-r' readonly class='login-r' placeholder='注册' />
          </div>
        </form>

      </div>       

    </div>	
	
  <script src="js/zepto/zepto.min.js"></script>
  <script src="js/bar/cookie.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B4aa49233be137b159257762c65652fd"></script>
	<script src="js/bar/index.js"></script>
	
</body>