<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= success %></h1>
    <p>enter</p>
    <a href='/logout'>logout</a>
  </body>
</html>
