<!DOCTYPE html>
<html>
  <head>
    <title>ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    .con{
      width:200px;
      height:300px;
    }
    </style>
  </head>
  <body>
    <div class='con'>
      

    </div>
    <script src="js/zepto/zepto.js"></script>
    <script>
      Zepto(function($){




      })
    </script>
  </body>
</html>
